
//TEXT:
//text color
$primaryTextWhite:#F8F8F8;
$primaryTextLightGrey:#CCCCCC;
$primaryTextDarkGrey:#2B2B28;

$secondaryTextTransparent: rgba(248, 248, 248, 0.35);

//text sizes
$largestFontSize: 20px;
$largeFontSize: 16px;
$subtitleOneFontSize: 12px;
$subtitleTwoFontSize: 10px;
//text bolder + spacing
$textBolder:bolder;
$textMuted: rgba(248, 248, 248, 0.603);
$letterSpacing:0.4px;


//BACKGROUND COLOR:
//nav
$navBackgroundColor:rgba(133, 206, 176, 0.911) !important;
//card
$cardBackgroundColor:rgba(209, 185, 227, 0.250);






